.filters-bar {
  background-color: #ffd85b;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto 20px;

  .filters-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between; // EMPUJA LOS CONTENEDORES A LOS EXTREMOS
    width: 100%;
  }
}

.inputs-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; // Permite que los inputs se acomoden si no hay espacio
}

.action-container {
  display: flex;
  justify-content: flex-end;
}

.btn-primary-red {
  background-color: #d81b60;
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  white-space: nowrap; // Evita que el texto se divida en dos líneas
  transition: background 0.3s ease;

  &:hover {
    background-color: #ad1457;
  }
}

// Media query para asegurar que en móviles se vea bien
@media (max-width: 992px) {
  .filters-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .inputs-container {
    flex-direction: column;
  }
  .btn-primary-red {
    width: 100%;
  }
}
/* ======================================= */
/* FOOTER    */
/* ======================================= */

.footer {
  background: #0d6db7;
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col h4 {
  font-size: 14px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 13px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.contact li {
  font-size: 13px;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  background: rgba(255,255,255,0.15);
  padding: 6px 10px;
  border-radius: 50%;
}

.social a:hover {
  background: rgba(255,255,255,0.3);
}

.footer-logos img {
  display: block;
  margin-bottom: 12px;
  max-width: 100px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
