/* You can add global styles to this file, and also import other style files */
$qp-primary: #1a73e8;
$qp-primary-dark: #125bc2;
$qp-accent: #ff7c32;

$qp-gray-100: #f7f9fc;
$qp-gray-200: #eceff3;
$qp-gray-300: #d7dce2;
$qp-gray-500: #8c99a9;
$qp-gray-600: #6f7a87;
$qp-gray-700: #4c6581;
$qp-gray-800: #2c3a4a;

$qp-primary-light: #82b6ff;
$qp-shadow: rgba(0, 0, 0, 0.08);