/* RESET GLOBAL */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #f8fbff; /* mismo fondo de tu hero */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; // empuja el footer hacia abajo
}

/* You can add global styles to this file, and also import other style files */
$qp-primary: #1a73e8;
$qp-primary-dark: #125bc2;
$qp-accent: #ff7c32;

$qp-gray-100: #f7f9fc;
$qp-gray-200: #eceff3;
$qp-gray-300: #d7dce2;
$qp-gray-500: #8c99a9;
$qp-gray-600: #6f7a87;
$qp-gray-700: #4c6581;
$qp-gray-800: #2c3a4a;

$qp-primary-light: #82b6ff;
$qp-shadow: rgba(0, 0, 0, 0.08);

/* =========================
   SweetAlert2 por encima del header
========================= */
.swal2-container{
  z-index: 99999 !important;
}

.swal2-popup{
  z-index: 100000 !important;
}

/* =========================
   SweetAlert: icono info más pequeño
========================= */

.swal-no-inner-scroll .swal2-icon{
  width: 48px !important;
  height: 48px !important;
  margin: 10px auto 6px !important;
}

.swal-no-inner-scroll .swal2-icon .swal2-icon-content{
  font-size: 24px !important;
  line-height: 48px !important;
}

