<div class="isapre-page">
  <header class="header-view">
    <div class="container-aligned">
      <h1>Planes Isapre</h1>
      <p>
        Compara planes con precios directos y
        <strong>sin costo adicional</strong>
      </p>

    </div>
  </header>
<form [formGroup]="cotizacionForm">
  <section class="search-bar">
    <div class="container-aligned quote-card">

        <div class="quote-head">
          <h2>Ingresa tus datos para cotizar</h2>
          <p>Te mostraremos planes reales según tu perfil</p>
        </div>
      <div class="quote-body">
        <div class="search-grid container-aligned">
          <div class="box-input">
            <label>Región</label>

            <div class="custom-select" #regionBox>

              <!-- valor seleccionado -->
              <div class="custom-selected" (click)="toggleRegion($event)">
                {{ regionSeleccionada?.nombre || 'Selecciona' }}
                <span class="arrow" [class.open]="regionOpen">⌄</span>
              </div>

              <!-- dropdown -->
              <div class="custom-options" *ngIf="regionOpen">
                <div
                  class="custom-option"
                  *ngFor="let region of regiones"
                  (click)="selectRegion(region)"
                >
                  {{ region.nombre }}
                </div>
              </div>

            </div>
          </div>


          <div class="box-input">
            <label class="label-info">
              Renta imponible bruta

              <span class="info-icon">
                i
                <span class="tooltip">
                  ❓ ¿Qué significa “Renta imponible” y “Renta líquida”?
                <p><strong>🔹 Renta imponible</strong></p>
                  <p>
                    Es el sueldo bruto sobre el cual se calculan tus cotizaciones obligatorias,
                    incluyendo el <strong>7% de salud</strong>.
                  </p>

                  <p class="highlight">
                    👉 Las Isapres calculan el valor del plan siempre sobre este monto,
                    no sobre el sueldo líquido.
                  </p>

                  <p class="example">
          <strong>Ejemplo:</strong><br>
            Si tu renta imponible es $1.000.000, tu 7% de salud corresponde a $70.000.
          </p>

          <hr>

          <p><strong>🔹 Renta líquida</strong></p>
          <p>
            Es el dinero que recibes finalmente en tu cuenta,
            después de descontar salud, AFP e impuestos.
          </p>

          <p class="highlight">
            👉 No se utiliza para calcular planes de Isapre,
            solo refleja tu ingreso final.
          </p>

          <hr>

          <p><strong>✅ ¿Por qué te pedimos la renta imponible?</strong></p>
          <p>
            Porque la ley exige que el 7% de salud se calcule sobre la renta imponible.
            Así podemos mostrarte planes reales, precios correctos y opciones
            que efectivamente puedes contratar.
          </p>
          <p></p>
                </span>
              </span>
            </label>

            <input type="number" placeholder="$ 0" formControlName="ingresocoti" />
          </div>

          <div class="box-input">
            <label>Edad</label>
            <input type="number" placeholder="0" formControlName="edad" />
          </div>

          <div class="box-input" >
            <label class="label-info">
              <span class="label-text">Sistema de salud actual</span>
              <span class="info-icon">i</span>
            </label>

            <div class="health-select" #clickFuera>

              <input type="hidden" formControlName="sistemasaludcoti" />

              <div class="health-selected" (click)="toggleHealth($event)" >
                {{ cotizacionForm.get('sistemasaludcoti')?.value || 'Selecciona' }}
                <span class="arrow" [class.open]="healthOpen">⌄</span>
              </div>

              <div class="health-dropdown" *ngIf="healthOpen">
                <div class="health-option" (click)="selectHealth('Fonasa')">
                  Fonasa
                </div>
                <div class="health-option" (click)="selectHealth('Banmédica')">
                  Banmédica
                </div>
                <div class="health-option" (click)="selectHealth('Colmena')">
                  Colmena
                </div>
                <div class="health-option" (click)="selectHealth('Consalud')">
                  Consalud
                </div>
                <div class="health-option" (click)="selectHealth('Cruz Blanca')">
                  Cruz Blanca
                </div>
                <div class="health-option" (click)="selectHealth('Nueva Masvida')">
                  Nueva Masvida
                </div>
                <div class="health-option" (click)="selectHealth('Vida Tres')">
                  Vida Tres
                </div>
                <div class="health-option" (click)="selectHealth('Esencial')">
                  Esencial
                </div>
                <div class="health-option" (click)="selectHealth('No tiene')">
                  No tiene
                </div>
              </div>
            </div>
          </div>

          <!-- BOTÓN + POPOVER ASEGURADOS -->
          <div class="box-input group-modal">
            <label>Asegurados</label>

            <button class="trigger" (click)="toggleModal()" type="button" >
              {{ (cargasForm.length > 0) ? 'Modificar asegurados' : 'Agregar asegurados' }}
            </button>

            <!-- POPOVER (mini modal debajo del botón) -->
            <div class="popover-modal" *ngIf="mostrarModal">

              <!-- HEADER -->
              <div class="popover-head">
                <span>Agregar asegurados</span>
                <button (click)="mostrarModal = false" type="button">×</button>
              </div>

              <!-- CONTENIDO -->
              <div class="popover-content">
                <!-- CARGAS -->
                <div class="popover-row">
                  <label>Cargas</label>
                  <div class="stepper">
                    <button (click)="decrementarCargas()" type="button">−</button>
                    <span>{{ cargasForm.length }}</span>
                    <button (click)="incrementarCargas()" type="button">+</button>
                  </div>
                </div>
                <span>factor total : {{ getFactorTotalCargas() | number:'1.2-2' }} </span>

                <!-- LISTA DE CARGAS -->
                <div class="cargas-dynamic-list" *ngIf="cargasForm.length > 0" formArrayName="cargas" >
                  <div class="carga-card-item" *ngFor="let carga of cargasForm.controls; let i = index" [formGroupName]="i">
                    <p>Carga {{ i + 1 }}</p>

                    <div class="carga-row-inline">
                      <div class="age-pick-full">
                        <label>Edad</label>
                        <input
                          type="number"
                          formControlName = "edadCarga"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- CTA -->
              <button class="btn-main-action" type="button" (click)="confirmarCargas()">
                Agregar y calcular precios
              </button>

            </div>
          </div>

          <!-- <button class="btn-search" >
            Calcular precios
          </button> -->
        </div>
      </div>
    </div>
  </section>
</form>

  <section class="results-bar">
    <div class="container-aligned results-grid">
      <div class="rating-toggle">
        <button class = "reajuste-btn">
          <span class="info-link" (click)="mostrarInfo7Porciento()"> Reajustados a tu 7 %</span>
        </button>
      </div>

      <div class="factores">
        <button class="factores-btn">
          <span class="factores-icon">⚙️</span>
          <span class="factores-text" (click) = "mostrarInfoFactorDeRiesgo()">Factor de riesgo</span>
        </button>
      </div>

      <div class="factores">
        <button class="factores-btn">
          <span class="factores-icon">⚙️</span>
          <span class="factores-text" (click) = "mostrarInfoGes()">Valor GES</span>
        </button>
      </div>


      <div class="sort-select">
        <label>Ordenar por:</label>
        <select [(ngModel)]="ordenarPor">
          <option value="price">Mayor Puntaje</option>
          <option value="rating">Precio Menor a Mayor</option>
          <option value="coverage">Precio Mayor a Menor</option>
        </select>
      </div>

      <div class="currency-select">
        <label>Moneda:</label>
        <select>
          <option value="clp">Pesos</option>
          <option value="uf">UF</option>
        </select>
      </div>

      <div class="view-mode-toggle">
        <button
          [class.active]="vista === 'list'"
          (click)="cambiarVista('list')"
        >
          <span>&#9776;</span>
        </button>
        <button
          [class.active]="vista === 'grid'"
          (click)="cambiarVista('grid')"
        >
          <span>&#9638;</span>
        </button>
      </div>
    </div>
  </section>
</div>

<div class="container results-layout">
  <!-- SIDEBAR -->
  <div class="sidebar-wrapper">
    <aside class="sidebar price-card">
      <div class="price-card-header">Precio</div>

      <div class="price-card-body">
        <div class="price-slider-wrapper">

          <div class="price-labels">
            <div class="price-label price-label--min">
              <span class="price-value">{{ formatCLP(minPrice) }}</span>
              <span class="price-uf">UF {{ minUf | number:'1.2-2' }}</span>
            </div>

            <div class="price-label price-label--max">
              <span class="price-value">
                {{ formatCLP(maxPrice) }}
              </span>
              <span class="price-uf">UF {{ maxUf | number:'1.2-2' }}</span>
            </div>
          </div>

          <!-- TU BLOQUE (el que mostraste) VA AQUÍ -->
          <div class="range-wrap">
            <div class="range-track"></div>

            <div class="range-progress"
                [style.left.%]="minPercent"
                [style.right.%]="maxRightPercent">
            </div>

            <input class="range" type="range"
              [min]="0" [max]="sliderMax" [step]="step"
              [(ngModel)]="minPrice"
              (input)="onMinInput()"
            />

            <input class="range" type="range"
              [min]="0" [max]="sliderMax" [step]="step"
              [(ngModel)]="maxPrice"
              (input)="onMaxInput()"
            />
          </div>
        </div>
      </div>
    </aside>

      <!-- ===============================
       AUTOCOMPLETE CLÍNICAS
      ================================ -->
    <aside class="sidebar price-card clinic-filter">
      <div class="price-card-header">
        Clínicas y Hospitales
        <span class="info">i</span>
      </div>

      <div class="price-card-body">
          <div class="autocomplete" #clickFuera>
            <input
              type="text"
              class="input"
              placeholder="Clínica..."
              [(ngModel)]="clinicaSearch"
              (input)="filtrarClinicas()"
              (click)="mostrarLista = true"
              (click)="$event.stopPropagation()"
              (click)="abrirListaClinicas()"
            />
            <button type="button" (click)="limpiarClinica()" *ngIf="clinicaSeleccionada">×</button>

            <ul
              class="autocomplete-list"
              *ngIf="mostrarLista && clinicasFiltradas.length"
              (click)="$event.stopPropagation()"
            >
              <li
                *ngFor="let clinica of clinicasFiltradas"
                (click)="seleccionarClinica(clinica)"
              >
                {{ clinica }}
              </li>
              

            </ul>
          </div>
        
          <label class="checkbox">
            <input type="checkbox" checked />
            Libre elección <span class="count">51</span>
          </label>

          <label class="checkbox">
            <input type="checkbox" checked />
            Preferentes <span class="count">25</span>
          </label>  
      </div>
    </aside>
  </div>
  <main class="results" id="cards-start">

    <!-- CARDS -->

    <div class="card" *ngFor="let plan of resultadosPaginados">
      <div class="card-left">
        <span class="tag" *ngIf="plan.preferente">Preferente</span>

        <div class="company">
          <img src="/consalud.png" alt="Consalud" width ="100px" class="logo-consalud">
          <h5>Plan {{ plan.codigoPlan }}</h5>
        </div>
        <h5>Valor base plan {{plan.precioBase}} UF</h5>
        

        <div class="features">
          <span>🏥 Prestadores {{plan.prestadores}}</span>
          <span>🏥 Hospitalaria {{plan.hospitalaria}}%</span>
          <span>🚑 Urgencia {{plan.urgencia}}%</span>
          <span>🩺 Ambulatoria {{plan.ambulatoria}}%</span>
          <span>📄 Tope anual {{plan.topeAnualUf}} UF</span>
        </div>
      </div>

      <div class="card-center">
        <label> <input type="checkbox" /> Comparar </label>

        <div class="score" *ngIf="mostrarPuntaje">
          Puntaje
          <span class="score-value">{{plan.puntaje}}</span>
          <small>de 7.8</small>
        </div>
      </div>

      <div class="card-right">
        <span class="price">${{ calcularPrecioPlan(plan) | number:'1.0-0' }}</span>
        <small>/mes</small>

        <button class="btn-solicitar" (click)="abrirSolicitud(plan)">
          Solicitar
        </button>

        <button class="btn-secondary" (click)="abrirDetalle(plan)">
          Ver detalle
        </button>
      </div>
    </div>

    <!-- PAGINACIÓN -->
    <div class="pagination" *ngIf="totalPaginas > 1">
      <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
        ‹ Anterior
      </button>

      <!-- Página 1 -->
      <button
        *ngIf="mostrarPrimeraPagina"
        (click)="irAPagina(1)"
        [class.active]="paginaActual === 1"
      >
        1
      </button>

      <!-- Dots inicial -->
      <span class="dots" *ngIf="mostrarDotsInicio">…</span>

      <!-- Páginas centrales -->
      <button
        *ngFor="let page of paginasVisibles"
        (click)="irAPagina(page)"
        [class.active]="paginaActual === page"
      >
        {{ page }}
      </button>

      <!-- Dots final -->
      <span class="dots" *ngIf="mostrarDotsFinal">…</span>

      <!-- Última página -->
      <button
        *ngIf="mostrarUltimaPagina"
        (click)="irAPagina(totalPaginas)"
        [class.active]="paginaActual === totalPaginas"
      >
        {{ totalPaginas }}
      </button>

      <button
        (click)="paginaSiguiente()"
        [disabled]="paginaActual === totalPaginas"
      >
        Siguiente ›
      </button>
    </div>
  </main>
</div>

<app-modal-detalle
  [plan]="planSeleccionado"
  [isVisible]="mostrarDetalleModal"
  (close)="cerrarDetalle()"
  (solicitar)="desdeDetalleASolicitar()"
>
</app-modal-detalle>

<app-modal-solicitar
  [plan]="planSeleccionado"
  [isVisible]="mostrarSolicitarModal"
  (close)="cerrarSolicitar()"
  (submitForm)="procesarSolicitud($event)"
  (verDetallePlan)="abrirDetalleDesdeSolicitar()"
>
</app-modal-solicitar>
